<!doctype html>
<html lang="EN">
  <head>
    <title>About</title>
        <link rel="icon" href="img/cloud.png">
      <link rel="stylesheet" href="/css/styles.css">
    </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>My name is Sreehari and this site was created for NodeJS learning purpose. This Site uses data
      from mapbox.com and darksky.net!
    </p>
      <img class="coder" src="/img/images.png">
    </div>

      {{>footer}}
  </body>
</html>