<!doctype html>
<html lang="EN">
  <head>
    <title>404Error</title>
        <link rel="icon" href="img/cloud.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    </div>
    {{>footer}}
  </body>
</html>